*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../css/images/background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    position: sticky;
    top: 0;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    display: inline;
    list-style-type: none;
    padding: 0 20px;
}
nav ul li a{
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.logo-img{
    margin-top:23px;
    margin-left: 73px;
}
.btn-right{
    margin-right: 70px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 60px;  
    cursor: pointer;
}
.git-img{ 
    padding:20px;
    padding-bottom: 17px;
    padding-right: 15px;
}
.twitter-img{
    padding:20px;
    padding-bottom: 17px;
    padding-left: 15px;
}
.metaverse-first{
display: flex;
}
.di0{
    flex: 1;
}
.di1{
    flex: 5;
}
.input-max-width{
max-width: 477px;
}
.input-user {
    margin-top: 34px;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 89px;
    max-width: 420px;
    padding: 3px;
    color: white;
    
  }
  .input-user input {
    background: transparent;
    border: 0px solid;
    padding-left: 5px;
    color: white;
    width: 300px;
    padding: 20px;
    outline: none;
  }
  .input-user select {
    background: transparent;
    border: 0px solid;
    color: white;
    padding-left: 13px;
    border-left: 2px solid rgba(255, 255, 255, 0.18);
  }
  .input-btn {
    background: transparent;
    background-color: #107BEE;
    border: 0px solid;
    padding: 16px;
    border-radius: 48%;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
  }
.left-div-main{
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding-top:137px;
    max-width: 615px;
}
.left-div-content{
    font-family: Outfit;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding-top:24px;
    max-width: 582px;
    text-align: justify;
}
.di2{
    color:#fff;
    flex: 6;
    background-image: url('../css/images/HomeImage.png');
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1070px;
    height: 722px;
    position: relative;
}
.right-div-main-txt1{
    font-family: Outfit;
    font-style: normal;
    max-width: 245px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    max-width: 245px;
    height: 87px;
    position: absolute;
    right: 0.5%;
    top: 17.35%;
    padding:19.95px 29.7px 21.9px 26px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(80px);
    border-radius: 90px;
}
.right-div-main-txt2{
    position: absolute;
    left: 2%;
    top: 34.2%;
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    max-width: 230px;
    color: #FFFFFF;
    padding:15px 18px 18px 18px;
    border-radius: 90px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(80px);
}
.right-div-main-txt3{
    position: absolute;
    max-width: 256px;
    left: 4.5%;
    bottom: 27.22%;
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    padding:25px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(80px);
    border-radius: 90px;
}  
.right-div-main-txt4{
    position: absolute;
    max-width: 193px;
    right: 6%;
    bottom: 32%;
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    padding:22px 20px 20px 33px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(80px);
    border-radius: 90px;
}
.di3{
    flex: 0.5;
}

.raodmap-main{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    width: 100%;
}
.row1{
    display: grid;
    grid-template-columns: 15% auto 15%;
    width: 100%;
    
    
}
.col1{
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    border-top-right-radius:25px;
}
.col2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sub-col2-col2{
    height: 400px;
}
.roadmap-main-content{
font-family: Outfit;
font-style: normal;
font-weight: 500;
font-size: 80px;
line-height: 88px;
letter-spacing: 0.2px;
color: #FFFFFF;

}
.roadmap-lorem-content{
font-family: Outfit;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.2px;
color: #FFFFFF;
}
.row2{
    display: grid;
    grid-template-columns: 10% 10% 15% 45% 15%;
}
.row2-col2{
    height: 170px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-center{
    padding-top: 30px;
    justify-self: center;
    max-width: 150px;
}
.row2-col3{
    display: flex;
    flex-direction: column;
    padding-left: 43px;
    padding-top:20px;
}
.row2-col3-content{
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    color: #FFFFFF;
}
.row2-col3-content2{
    font-style: normal;
font-weight: 500;
font-size: 33px;
color: #15C4C6;
}
.row2-col3-content3{
font-family: Outfit;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
color: rgba(255, 255, 255, 0.39);
max-width: 200px;
}
.row3{
   display: grid; 
   grid-template-columns: 15% auto 15%;
}
.row3-col1{
}
.row3-col2{
    border-bottom: 2px solid grey;
    border-left:2px solid grey;
    height: 15vh;
    
}
.row3-col3{
    
}
.row4{
    display: grid;
    grid-template-columns: 15% auto 15%;
}
.row4-col1{

}


.row3-col3-div{
    max-width: 400px;
    float:right;
}
.row3-col3-content3{
font-family: Outfit;
font-style: normal;
color: rgba(255, 255, 255, 0.39);
font-weight: normal;
font-size: 16px;
line-height: 25px;
}
.row5{
    display: grid;
    grid-template-columns: 15% auto 15%
}

.row5-col2{
    border-top: 2px solid grey;
    padding: 50px 0px 50px 100px;
}
.row5-col3-content3{
max-width: 500px;
font-family: Outfit;
font-style: normal;
color: rgba(255, 255, 255, 0.39);
font-weight: normal;
font-size: 16px;
line-height: 25px;
}
.row6{
    display: grid;
    grid-template-columns: 15% auto 15%;
}
.row6-col2{
    border-top: 2px solid grey;
    text-align: end;
    border-right:2px solid grey;
    padding: 50px 100px 50px 0px;
}

.row7{
    display: grid;
    grid-template-columns: 15% auto 15%;
}

.row7-col2{
border-top: 2px solid grey;
border-left: 2px solid grey;
padding: 50px 0px 50px 100px;
}
.row8{
    display: grid;
    grid-template-columns: 15% auto 15%;

}
.row8-col2{
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    padding: 50px 100px 50px 0px;
    text-align: end;
}

.contact-us{
display: flex;
}
.contact-border{
    flex: 1.77;
    border-bottom: 2px solid grey;
}
.contact-us-main{
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-top-left-radius: 25px;
    flex: 8.4;
    color:white; 
    border-bottom: 2px solid grey; 
  
}
.contact-us-no-content{
  flex: 1.8;
  border-bottom: 2px solid grey;
}
.contact-txt{
font-family: Outfit;
font-style: normal;
font-weight: bolder;
font-size: 80px;
line-height: 88px;
letter-spacing: 0.2px;
color: #FFFFFF;
padding-top:80px;
padding-left:60px;
padding-bottom: 20px;
}
.contact-txt-body{
font-family: Outfit;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.2px;
color: #FFFFFF;
padding-left:60px;
}
.contact-form{
    display: flex;
    padding-left: 60px;
}
.contact-form-left{
    flex: 1;
}
.earn{
    padding-top: 117px;
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    
}
.phone-no{
font-family: Outfit;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
letter-spacing: 0.1px;
padding-top: 55px;
}
.us-color{
    color: #6C6C6C;
}

.contact-form-right{
    color:white;
    flex: 1;
    margin-top: 120px;
   
}
.contact-form-right input{
    display: block;
    width:100%;
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 25px;
    border: none;
    outline: none;
    background:none;
    color: white;
    padding-bottom: 5px;
    border-bottom:2px solid rgba(255, 255, 255, 0.39);
}
.btn-submit{
    padding: 60px 18px;
    background: linear-gradient(180deg, #107BEE 0%, #359DFD 100%);
    font-family: Outfit;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    border:none;
    border-radius: 75px;
    float:right;
    cursor:pointer;
    margin-bottom: 134px;
}
.footer-main{
    display: flex;
    color: white;
    padding-top: 76px;
}
.footer-1{
    flex:2.2;
}
.footer-2{
    flex:1.5;

}
.footer-3{
    flex:1.5;
}
.footer-4{
    flex:1.2;
    }
.footer-5{
    flex:1;
}
.footer-6{
    flex:2.3;
}
.footer-7{
    flex:2;
    margin-top: auto;
}
.fingertipe{
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    padding-bottom: 40px;
}
.footer-content{
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding-bottom: 19px;
}
.div-footer{
    padding-bottom: 27px;
    display: flex;
    align-items: center;
}
.footer-join{
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;    
    letter-spacing: 0.2px;
    color: #5865F2;
    padding-left: 18px;
    cursor:pointer;
}
.footer-discord-img{
    cursor: pointer;
}
.footer-phone-main{
    padding-bottom: 45px;
    display: flex;
    align-items: center;
    cursor:pointer;
}
.footer-phone{
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;    
    letter-spacing: 0.2px;
    padding-left: 18px;
}
.footer-twitter-git{
    cursor: pointer;
}
.footer-twitter-img{
    width: 27px;
    height: 21px;
    cursor: pointer;
}
.footer-git-img{
    width: 27px;
    height: 21px;
    margin-left: 24px;
    cursor: pointer;
}
.btn-git{
    padding: 35px 18px;
    background: #FFFFFF;
    font-family: Outfit;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    border:none;
    border-radius: 100px;
    cursor:pointer;
    position: sticky;
    bottom: 2%;
    right: 2%;
    float: right;
}
.copyright{
    color:white;
    text-align: center;
    font-family: Outfit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding:120px 0px 0px 0px;
}

.row4-col2{
    border-right: 2px solid grey;
    text-align: end;
    justify-content: center;
    padding: 50px 100px 50px 0px;
}
.row4-col3{
position: relative;
}
.row6-col3{
position: relative;
}
.row8-col3{
    position: relative;
}
.image-right{
max-width: 170px;
width: 170px;
height: 120px;
background: rgba(29, 51, 64, 1);
position: absolute;
border-radius: 25px;
text-align: center;
left: -35%;
top:28%;
}
.img-right{
    text-align: center;
    width: 130px;
    justify-content: center;
    padding-top: 10px;
}

.row5-col1{
    border-right: 2px solid grey;
    position: relative;
}
.row7-col1{
    position: relative;
}
.image-left{
    max-width: 170px;
    width: 170px;
    height: 120px;
    background: rgba(29, 51, 64, 1);
    position: absolute;
    border-radius: 25px;
    text-align: center;
    right: -36%;
    top:28%;
    }
.img-left{
    text-align: center;
    width: 130px;
    justify-content: center;
    padding-top: 10px;
}